## section for logstash to recive data from QRadar send to kafka
input { 
  tcp {
        port => 5000
        type => syslog
    }
 }

filter {}

output { 
    stdout {}
    kafka {
      id => "test_topic"
      topic_id => "test_topic"
      codec => "json"
      bootstrap_servers => "kafka:9092"
    }
}
