input { stdin { } } output { stdout {} }

input { 
   kafka {
    topics => ["kafka-java-console-sample-topic"]
    sasl_jaas_config => "broker-0-zrbc2bxh1f0trwqb.kafka.svc11.us-south.eventstreams.cloud.ibm.com:9093 required username='token'  password='hx73WDrU2YLIq1S-_oLnlKWSP0Pm7-kftNaVpjNrzPaw';"
    }
}

## section for logstash to recive data from QRadar send to kafka
input { 
    tcp {
        port => 5000
        type => syslog
    }
 }

filter {}

output { 
    stdout {}
    kafka {
      codec => json
      topic_id => "test_topic"
      bootstrap_servers => "localhost:9092"
    }
}
